.empty-state {
  max-width: $max-panel-width;
  background-color: $color-gray-lightest;

  &--white {
    background-color: $color-white;
  }

  &--centered {
    text-align: center;
  }

  &__message {
    display: inline-block;
    font-weight: bold;
    margin-top: 3rem;
  }

  h3 {
    margin: 0 0 1rem;
    padding: 3.2rem 2.4rem 0;
  }

  p {
    margin: 0;
    padding: 0 $gap * 3;
  }

  hr {
    margin: $gap * 4 0 0;
  }

  &__footer {
    text-align: center;
    background-color: $color-gray-lightest;
    padding: $gap * 3;

    a.usa-button {
      width: 60%;
      margin: 0 auto;
    }
  }
}
