.app-footer {
  z-index: 3;
  background-color: $color-white;
  border-top: 1px solid $color-gray-lightest;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  color: $color-gray-dark;
  font-size: 1.5rem;
  padding: 0 $gap * 1.5;

  &__login {
    width: 100%;
    max-width: 1175px;
    text-align: right;
  }
}
